<% include partials/header %>

<div class="container">
   <div class="nameImage_showPage">
      <h1><%= foundBlog.name %></h1>
      <img id="image_showPage" class="img-thumbnail" src="<%= foundBlog.image %>"></img>
   </div>
   
   <p id="blogDescription_showPage"><%- foundBlog.description %></p>
   
   <div>
      <a class="btn btn-danger buttons_showPage" href="/blogs/<%= foundBlog._id %>/edit">Edit blog</a>
      <form method="POST" action="/blogs/<%= foundBlog._id %>?_method=DELETE">
         <button type="submit" class="btn btn-primary buttons_showPage">Delete</button>
      </form>
   </div>
</div>

<% include partials/footer %>
